*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #1FA2FF;
    color: white;
    padding:20px;
}
h1{
    font-weight: 600;
    margin-left: 90px;
}
.container{
    margin-top: 30px;
}
.form-group{
    margin-top: 15px;
}
.apaan{
    width: 400px;
}
    